.main-welcome{
    background-image: url(./images/red.jpeg);
    max-width: 100%;
    height: 800px;
    display: block;
    border: 2px solid blue;
}

.welcome-title{
    text-align: center;
    border: 2px solid red;
}

.enter-name{
    border: 2px solid red;
}

.start{
    border: 2 px solid red;
}