/*=======================================================================
Adding general style to the divs added to the body 
=======================================================================*/

body {
    margin: 35px auto;
    background-color: #9b0101;
}

.main-game {
    height: 750px;
    border: 5px solid black;
    border-radius: 5%;
    background-color: black;
    margin: auto;
    max-width: 800px;
    -webkit-animation: glowing 1s ease-in-out infinite alternate;
    -moz-animation: glowing 1s ease-in-out infinite alternate;
    animation: glowing 1s ease-in-out infinite alternate;
}

/*=======================================================================
Adding glowing effect to the border using css animation keyframe
- Link referencing how to use animation
    https://blog.stackfindover.com/css-glowing-effect/
=======================================================================*/

@keyframes glowing {
   from{
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(251, 251, 119), 0 0 40px #9b0101, 0 0 50px #c7e600, 0 0 60px #f4facd, 0 0 70px #ffffff;
   } 
   to{
    box-shadow: 0 0 20px #fff, 0 0 30px #a27f1d, 0 0 40px #a27f1d, 0 0 50px #a27f1d, 0 0 60px #a27f1d, 0 0 70px #a27f1d, 0 0 80px #a27f1d;
  }
}

.main-title {
    color: #C0C0C0;
    text-shadow: 3px 3px #886a17;
    font-size: 35px;
    text-align: center;
    font-family: 'Harry Potter', sans-serif;                                             
}

.main-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
}

h1 {
    margin: 0px;
    margin-top: 8px;
    
}

.score-div {
    margin: 5px;
    text-align: center;
    border: 3px solid lightgrey;
    border-radius: 10%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    background-color:black;
    color:lightgray;
}

.score-title {
    font-size: 25px;
    margin: 6px;
}

.score {
    font-size: 25px;
    margin: 0px;
}

.question-and-count{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
}

.question-container {
    font-family: 'Indie Flower', cursive;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
    font-size: 25px;
}

#answers-container {
    display: flex;
    flex-direction: column;
}

.option {
    font-family: 'Indie Flower', cursive;
    height: 70px;
    font-size: 30px;
    margin: 10px;
    border-radius: 25%;
    color: white;
}

h4{
    margin: 0px;
}

h2{
    text-align: center;
}

/*=======================================================================
Adding style to each answer button separately and a hovr style for each option
=======================================================================*/

.option1 {
    background-color: #AE0001;
    border: 5px solid #D3A625;
}

.option1:hover {
    background-color: #d90000;
    box-shadow: 3px 3px #f7c437;
    font-weight: bold;
}

.option1:focus {
    background-color: #d90000;
    box-shadow: 8px 8px #f7c437;
    font-size: 45px;
    font-weight: bold;
}

.option2 {
    background-color: #2A623D;
    border: 5px solid #AAAAAA;
}

.option2:hover {
    background-color: #3d8956;
    box-shadow: 3px 3px #c8c6c6;
    font-weight: bold;
}

.option2:focus {
    background-color: #3d8956;
    box-shadow: 8px 8px #c8c6c6;
    font-size: 45px;
    font-weight: bold;
}

.option3 {
    color: white;
    background-color: #222F5B;
    border: 5px solid #5D5D5D;
}

.option3:hover {
    background-color: #384c91;
    box-shadow: 3px 3px #908f8f;
    font-weight: bold;
}

.option3:focus {
    background-color: #384c91;
    box-shadow: 8px 8px #908f8f;
    font-size: 45px;
    font-weight: bold;
}

.option4 {
    color:black;
    background-color: #FFDB00;
    border: 5px solid #60605C;
}

.option4:hover {
    background-color: #fade26e4;
    box-shadow: 3px 3px #6d6c6c;
    font-weight: bold;
}

.option4:focus {
    background-color: #fade26e4;
    box-shadow: 8px 8px #6d6c6c;
    font-size: 45px;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    text-align: center;
}

.next {
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    height: 40px;
    width: 85px;
    border: solid white;
    border-radius: 20%;
}

.next:hover {
    background-color: gray;
}

/*=======================================================================
Adding display: none to the hide class to be applied later in JavaScript
=======================================================================*/

.hide{
    display: none;
}

#result {
    margin: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 30px;
    color: white;
    height: 50px;
}

.final-message{
    color: white;
    font-size: 25px;
    font-family: 'IM Fell English SC', serif;
} 

.start-page{
    height: 750px; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
}

.welcome-message{
    display: flex;
    align-self: center;
    text-align: center;
    color:white;
    text-shadow: 3px 3px #9c0e0e;
    font-family: 'Harry Potter', sans-serif; 
    font-size: 40px;
}

.image{
    display: flex;
    align-self: center;
}

.start{
    width: 150px;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: #D3A625;
    border-radius: 40%;
    color: black;
    font-size: 35px;
}

.start:hover{
    border: 10px solid #D3A625;
    box-shadow: 3px 3px 5px 5px #a27f1d;
}

.start-btn{
    margin: 5px;
    text-align: center;
}

.again{
    font-size: 25px;
    color: black;
    text-align: center;
    margin: 0px;
    width: 150px;
    height: 30px;
    background-color: white;
    border: 5px solid #D3A625;
    border-radius: 30%;
    font-family: 'IM Fell English SC', serif;
}

.again:hover{
    box-shadow: 3px 3px 5px 5px #ffcb3c;
    background-color: rgb(244, 213, 213);
}

/*=======================================================================
Adding style options for mobile devices with smaller screens 
=======================================================================*/

@media only screen and (max-width: 600px) {
    
    body{
        margin: auto;
        margin-bottom: 0;
    }
    .main-game {
        margin-top: 35px;
        max-width: 350px;
        max-height: 700px;
        border-radius: 10%;
    }

    .welcome-message{
        font-size: 18px;
    }

    .start{
        width: 120px;
    }

    .main-title {
        font-size: 18px;
    }
    
    .score{
        font-size: 18px;
    }
      
    .main-top{
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .question-container {
        margin: 5px;
        height: 90px;
        font-size: 15px;
    }

    .option1{
        margin: 3px 15px 3px 15px;
        padding: 0px;
    }
    
    .option1:focus{
        font-size: 30px;
    }
    
    .option2{
        margin: 3px 15px 3px 15px;
        padding: 0px;
    }
    
    .option2:focus{
        font-size: 30px;
    }
    
    .option3{
        margin: 3px 15px 3px 15px;
        padding: 0px;
    }
    
    .option3:focus{
        font-size: 30px;
    }
    
    .option4{
        margin: 3px 15px 3px 15px;
        padding: 0px;
    }
    
    .option4:focus{
        font-size: 30px;
    }

    .result-container{
        margin: 10px;
        margin-bottom: 0px;
    }

    #result{
        font-size: 25px;
    }

    .final-message{
        font-size: 15px;
    } 
    
    .hp-title{
        font-size: 35px;
    }

    h2{
        margin: 0px;
    }

    .again{
        font-size: 20px;
        width: 150px;
        height: 30px;
        border: 4px solid #D3A625;
    }
  }